<section>
  <article class="">
    <h1><%= @artist.name %></h1>
    <p><%= image_tag @artist.image_path, alt: @artist.name %></p>
    <%=  link_to "Edit", "/artists/#{@artist.id}/edit"%>
    <%=  link_to "Delete", "/artists/#{@artist.id}/edit", method: :delete %>
    <%=  link_to "New song", "/artists/#{@artist.id}/songs/new"%>
  </article>
  <article class="">
    <% @songs.each do |song| %>
      <%= song.title %>
    <% end %>
    <%= link_to "View Songs", "/artists/#{@artist.id}/songs/" %>
  </article>
</section>
